" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
let mapleader = " "

" Do incremental searching.
set incsearch
set which-key
set ideajoin

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'



" --- Window Navigation ---
" Use <C-h,j,k,l> to navigate between windows (splits)
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Confirm in context menu
map <C-y> <Enter>

" --- Map <leader>h to call the function ---
" This mapping works in Normal mode
nnoremap <leader><leader> :action SearchEverywhere<CR>
nnoremap <leader>e :action SelectInProjectView<CR>
nnoremap <leader>r :action GotoRelated<CR>
nnoremap <leader>s :action SearchInPath<CR>
nnoremap <leader>fs :action ReformatWithPrettierAction<CR>w<CR>
nnoremap <leader>, :action Switcher<CR>
nnoremap <leader>m :action MoveEditorToOppositeTabGroup<CR>
nnoremap <leader>v :action SplitVertically<CR>
nnoremap <leader>/ :action FindInPath<CR>

"nnoremap <leader>gg :action Vcs.QuickListPopupAction<CR>
nnoremap <leader>gg :action CheckinProject<CR>
nnoremap <leader>ghr :action Vcs.RollbackChangedLines<CR>
"nnoremap <leader>ghb :action Annotate<CR> -- doesn't work
nnoremap <leader>go :action Compare.SameVersion<CR>

nnoremap <leader>or :action RunAnything<CR>
nnoremap <leader>ot :action ActivateRunToolWindow<CR>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>

nnoremap ]h :action VcsShowNextChangeMarker<CR>
nnoremap [h :action VcsShowPrevChangeMarker<CR>
nnoremap <leader><tab>[ :tabprevious<CR>
nnoremap <leader><tab>] :tabnext<CR>

nnoremap <leader>uz :action ToggleZenMode<CR>
