" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
let mapleader = " "

" Do incremental searching.
set incsearch
set which-key
set ideajoin

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'



" --- Window Navigation ---
" Use <C-h,j,k,l> to navigate between windows (splits)
" nnoremap means "non-recursive mapping for normal mode" - it's the safest way to map keys.
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" --- Tab Navigation ---
" Use <leader> + h/l to move between tabs
nnoremap <leader>h :tabprevious<CR>
nnoremap <leader>l :tabnext<CR>
""nnoremap <M-h> <leader>h
""nnoremap <M-l> <leader>l

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" --- Map <leader>h to call the function ---
" This mapping works in Normal mode
nnoremap <leader><leader> :action SearchEverywhere<CR>
nnoremap <leader>e :action SelectInProjectView<CR>
nnoremap <leader>r :action GotoRelated<CR>
nnoremap <leader>s :action SearchInPath<CR>
nnoremap <leader>f :action ReformatCode<CR>
nnoremap <leader>, :action Switcher<CR>
nnoremap <leader>m :action MoveEditorToOppositeTabGroup<CR>
nnoremap <leader>v :action SplitVertically<CR>

